.App {
  font-family: sans-serif;
  padding: 0 8px;
}

.appTitle {
  text-align: center;
}
.elementDeChaqueDpts {
  display: flex;
  align-items: space-around;
}
.codes {
  margin-left: 1%;
}
.codeRegions {
  margin-left: 10px;
}
